body {
  width: 300px;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

button {
  background-color: #0084ff;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: block; /* Make it a block element to center it below */
  font-size: 16px;
  margin: 20px auto; /* Center the button */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

button:hover {
  background-color: #0056b3;
}

#results {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd; /* Add a border to the results div */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 5px; /* Add rounded corners */
  word-wrap: break-word;
}

/* Add styles for list items to make them more readable */
#results ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}

#results li {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eee; /* Slight background for each item */
  border-radius: 3px; /* Rounded corners for each item */
}


.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f9f9f9;
}


.summary {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0; /* Light grey background */
  border-radius: 5px;
}


.image-item {
  cursor: pointer;
  padding: 5px;
  margin: 2px 0;
  transition: background-color 0.3s ease;
}

.image-item:hover {
  background-color: #f0f0f0;   /* Light grey background on hover */

}



.detail-item {
  cursor: pointer;
}


.text-size-control {
  margin-top: 20px;
}

.text-size-control label {
  display: block;
  margin-bottom: 5px;
}

#textSizeSlider {
  width: 100%;
}
