body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9FAFB;
  color: #333;
  padding: 16px;
  margin: 0;
  font-size: 14px;
  width: 300px;
}

h1 {
  color: #1A202C;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.main-action button, .text-size-control input, .footer a {
  background-color: #3182CE;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.main-action button:hover, .footer a:hover {
  background-color: #2C5282;
}

.text-size-control {
  margin: 20px 0;
}

.text-size-control label {
  display: block;
  margin-bottom: 10px;
}

#textSizeSlider {
  width: 100%;
}

.accordion #results {
  background-color: #FFFFFF;
  border: 1px solid #E2E8F0;
  border-radius: 4px;
  padding: 15px;
  margin-top: 20px;
}

.detail-item {
  background-color: #EDF2F7;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  list-style-type: none;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
}

.footer a {
  color: #FFFFFF;
  padding: 5px 10px;
  background-color: #718096;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

/* Set the primary button color to green */
#checkPage {
  background-color: #38A169; /* A shade of green */
}



.collapsible, .content {
  width: 100%; /* Adjust width to ensure uniformity across all collapsible sections */
  margin:  3px; /* Adds margin to the sides for spacing and centers the elements */
  box-sizing: border-box; /* Ensures padding and border are included in the width calculation */
}



/* Style for the content area of each collapsible */
.content {
  padding: 0 10px; /* Padding on the sides */
  display: none; /* Hidden by default */
  overflow: hidden;
  background-color: #f9f9f9; /* Light background for the content area */
  border: 1px solid #E2E8F0; /* Light border for the content area */
  border-radius: 4px;
}

/* Ensure detail items containing URLs do not overflow their container */
.detail-item {
  padding: 5px;
  background-color: #EDF2F7;
  margin: 5px 0;
  border-radius: 4px;
  list-style-type: none;
  word-break: break-all; /* This will ensure long URLs wrap within the container */
  cursor: pointer; /* Change cursor to indicate clickable items */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

/* Add a hover effect to indicate clickable items */
.detail-item:hover {
  background-color: #E2E8F0; /* Slightly darker shade on hover */
}


/* Adjusts the list within the collapsible content to be more structured */
.content ul {
  padding-left: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}
